/*
    ===========================
    ===========================
         Navigation Bar
    ===========================
    ===========================
*/

.top-menu-btn{
    background-color: transparent;
    border: none;
    color: rgba(255,255,255,0.5);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12pt;
    margin: 18px auto;
}
.top-menu-btn:hover{
    font-size: 12pt;
    background-color: transparent;
    border: none;
    color: rgba(255,255,255,0.8)
}
.top-menu-btn:focus{
    background-color: transparent;
    border: none;
    color: rgba(255,255,255,0.8);
    font-size: 12pt;
}
.top-menu-btn:active{
    color: rgba(255,255,255,1) !important;
    background-color: transparent !important;
    font-size: 12pt;
    border: none;
}

.top-menu-brand {
    padding: 18px 20px 15px;
}

.top-menu-brand{
    padding-top: 18px;
}

.app-name{
    position: relative;
    top:-2px;
    font-weight:300;
}

.app-name {
  position: relative;
  width: 100%;
  line-height: 70px;
  padding: 0 10px;
  font-size: 23px;
  color: #ffffff;
  margin: 0;
  z-index: 10;
}

.app-name-mobile{
    position: relative;
    top:-2px;
    font-weight:300;
}

.app-name-mobile {
  display: none;
  position: relative;
  width: 100%;
  line-height: 70px;
  padding: 0 10px;
  font-size: 23px;
  color: #ffffff;
  margin: 0;
  z-index: 10;

}


/*
    ===========================
    ===========================
         Map
    ===========================
    ===========================
*/
html, body, #mapDiv {
  padding: 0; 
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 70px;
  padding-left:270px;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-Regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/*
    ===========================
    ===========================
         Top menu
    ===========================
    ===========================
*/

#top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1d1d2b;
  z-index: 9;
}

#top-menu > div:not(.logo) {
  float: left;
}

#top-menu .title {
  border-right: 1px solid #191924;
  min-width: 270px;
  /*cursor: pointer;*/
}

#mobile-main-menu {
  display: none;
  cursor: pointer;
}

#mobile-main-menu {
  padding: 24px 15px;
  color:white;
}

/************* END TOP MENU **************/



 /*
    ===========================
    ===========================
         Main Menu
    ===========================
    ===========================
*/

.identification {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
    display: block;
    padding:8px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    padding-left:8px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    padding-left:8px;
}

#main-menu {
  width: 270px;
  height: calc(100% - 70px);
  float: left;
  background-color: #20202f;
  margin-top: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: left .5s ease;
}

#main-menu .main-menu-container {
  overflow-y: auto;
  height: 100%;
}

/************* END MAIN MENU **************/

/************** All other stuff *********/

@media (max-width: 1020px) {
  #top-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 1px solid #191924;
  }

  #top-menu #mobile-main-menu {
    -webkit-order: 0;
    order: 0;
  }

  #top-menu .title {
    -webkit-order: 1;
    order: 1;
    width: calc(100% - 95px);
    text-align: center;
    min-width: 1px;
  }

  #mobile-main-menu {
    display: inline-block;
  }

  #main-menu {
    left: -100%;
    height: calc(100% - 69px);
  }

  .isOpenMenu #main-menu {
    left: 0;
  }

  body {
    padding-left:0px;
  }
}

@media (max-width: 600px) {

  #main-menu {
    height: calc(100% - 70px);
  }

}

@media (max-width: 767px) {

  .app-name {
    display: none;
  }

  .app-name-mobile {
    display: inline;
    font-size:small;
  }

}

pre {
  word-wrap: normal;
  word-break: normal;
}

/************** All other stuff *********/

#main-menu {
  background-color: #ECEEF3;
  font-family: 'Open Sans', sans-serif;
  min-height: 0 !important;
}
@media (max-width: 991px) {
  #main-menu {
    background-color: rgba(236, 238, 243, 0.8);
  }
}

#main-menu .sidebar-panel {
  background-color: #FFFFFF;
  margin: 0 auto;
  border: none;
}
#main-menu .sidebar-panel .panel-heading {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
#main-menu .sidebar-panel .panel-heading h4 {
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: right;
}
#main-menu .sidebar-panel .panel-heading h4 a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 15px;
  color: #6F758E;
  background-color: #ECEEF3;
}
#main-menu .sidebar-panel .panel-heading h4 a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
#main-menu .sidebar-panel .panel-heading h4 a:hover:after {
  color: #000;
}
#main-menu .sidebar-panel .panel-heading h4 a:active {
  background-color: rgba(69, 116, 204, 0.2);
}
#main-menu .panel-collapse {
  background-color: #FFFFFF;
}

#main-menu .slick-btn {
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 5px;
  display: block;
  width: 100%;
  text-align: left;
  color: #6F758E;
  margin: 0 auto;
  border-left: 4px solid transparent;
}
#main-menu .slick-btn img {
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 15px 0 0;
  border-radius: 0;
  border: none;
}
#main-menu .slick-btn br {
  display: none;
}
#main-menu .slick-btn:hover {
  border-color: #333;
  background-color: rgba(236, 238, 243, 0.5);
}
#main-menu .slick-btn:focus {
  background-color: #ECEEF3;
  border-color: #4574CC;
}

#main-menu .slick-btn-selection {
  background-color: rgba(236, 238, 243, 0.5);
  border-color: #4574CC !important;
}