@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
#navbar {
  background-color: #1E2732;
  box-sizing: border-box;
}
#navbar .navbar-toggle {
  background-color: transparent;
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0 20px 0 0;
  padding: 0 15px 0 15px;
  margin-left: -5%;
}
#navbar .navbar-toggle .icon-bar {
  height: 2px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  #navbar .navbar-toggle {
    margin: 0;
  }
}
#navbar .navbar-toggle:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
#navbar .navbar-toggle:hover .icon-bar {
  background-color: #FFFFFF;
}
#navbar .navbar-brand {
  padding: 0 0 0 15px;
}
#navbar .navbar-brand img {
  padding: 9px 0;
  height: 50px !important;
}
#navbar .navbar-brand span {
  color: #FFFFFF;
  font-weight: 300;
  letter-spacing: 1.25px;
  box-sizing: border-box;
  padding: 0px 0 0 15px;
  height: 100%;
  line-height: 50px;
  float: right;
}
#navbar .navbar-text {
  color: #ffffff;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.5px;
}
@media (max-width: 1015px) {
  #navbar .navbar-text {
    font-size: 12pt;
  }
}
#navbar button {
  background-color: #4574CC;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  font-size: 9pt;
  font-weight: 300;
  height: 50px;
  margin: 0 4px 0 4px;
  padding: 0 15px 2px 15px;
  border-radius: 0;
  transition: 0.15s;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
#navbar button:hover {
  cursor: pointer;
  transition: 0.15s;
  background-color: rgba(69, 116, 204, 0.8);
}
#navbar #aboutNav {
  background-color: transparent;
  font-size: 8pt;
  position: relative;
  top: 1px;
}
#sidebar {
  background-color: #ECEEF3;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 991px) {
  #sidebar {
    background-color: rgba(236, 238, 243, 0.8);
  }
}
#sidebar .groupHeading {
  font-weight: 700;
  letter-spacing: 1px;
  color: #6F758E;
  font-size: 9pt;
  text-transform: capitalize;
  border-bottom: 1px solid #ECEEF3;
  display: block;
  box-sizing: border-box;
  padding: 12px 5px 5px 12px;
}
#sidebar .wim-sidebar-panel {
  background-color: #FFFFFF;
  margin: 0 auto;
  border: none;
}
#sidebar .wim-sidebar-panel .panel-heading {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
#sidebar .wim-sidebar-panel .panel-heading h4 {
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: right;
}
#sidebar .wim-sidebar-panel .panel-heading h4 a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 15px;
  color: #6F758E;
  background-color: #ECEEF3;
}
#sidebar .wim-sidebar-panel .panel-heading h4 a:after {
  padding: 0 0 0 10px;
  content: '\f3d3';
  font-family: 'ionicons';
  color: #6F758E;
}
#sidebar .wim-sidebar-panel .panel-heading h4 a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
#sidebar .wim-sidebar-panel .panel-heading h4 a:hover:after {
  color: #000;
}
#sidebar .wim-sidebar-panel .panel-heading h4 a:active {
  background-color: rgba(69, 116, 204, 0.2);
}
#sidebar .panel-collapse {
  background-color: #FFFFFF;
}
#sidebar .panel-collapse .btn-group-vertical {
  border: none;
}
#sidebar .panel-collapse .btn-group-vertical button {
  background-color: transparent;
  border: 0px solid transparent;
  box-shadow: none;
  color: #333333;
  font-weight: 500 !important;
  font-size: 9pt;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 10px;
  border-radius: 0;
  margin: 0 auto;
  letter-spacing: -0.45px;
  transition: 0.15s;
  border-left: 4px solid transparent;
}
#sidebar .panel-collapse .btn-group-vertical button.active {
  font-weight: 500 !important;
  color: #333;
}
#sidebar .panel-collapse .btn-group-vertical button:hover {
  cursor: pointer;
  transition: 0.15s;
  background-color: rgba(236, 238, 243, 0.2);
  border-left: 4px solid #1E2732;
}
#sidebar .panel-collapse .btn-group-vertical label {
  border: none;
  border-radius: 0;
  width: 100%;
  border-left: 2px solid transparent;
  font-weight: 300 !important;
  letter-spacing: 1px;
  font-size: 9pt;
  padding: 3px 15px;
  color: #333333;
}
#sidebar .panel-collapse .btn-group-vertical label:hover {
  cursor: pointer;
  transition: 0.15s;
  background-color: rgba(236, 238, 243, 0.2);
  border-left: 2px solid #1E2732;
  color: #333;
}
#sidebar .panel-collapse .btn-group-vertical label.active {
  background-color: transparent;
  color: #333;
  box-shadow: none;
  font-weight: 500 !important;
}
#sidebar .panel-collapse .btn-group-vertical label.active:hover {
  cursor: pointer;
  transition: 0.15s;
  background-color: rgba(236, 238, 243, 0.2);
  border-left: 2px solid #1E2732;
}
#sidebar .basemapBtn {
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 5px;
  display: block;
  width: 100%;
  text-align: left;
  color: #6F758E;
  margin: 0 auto;
  border-left: 4px solid transparent;
}
#sidebar .basemapBtn img {
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 15px 0 0;
  border-radius: 0;
  border: none;
}
#sidebar .basemapBtn br {
  display: none;
}
#sidebar .basemapBtn:hover {
  border-color: #333;
  background-color: rgba(236, 238, 243, 0.5);
}
#sidebar .basemapBtn:focus {
  background-color: #ECEEF3;
  border-color: #4574CC;
}
.opacitySlider {
  background-color: #1E2732;
  opacity: 1;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  padding: 8px 8px 12px 8px;
}
.opacitySlider #opacityValue {
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 9pt;
}
.opacitySlider .opacityClose {
  font-weight: lighter;
  font-family: 'Arial', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: -2px;
  left: -2px;
}
.opacitySlider .opacityClose:hover {
  cursor: pointer;
  color: #FFFFFF;
}
#zonalStatsPanel p {
  font-size: 9pt;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 0 10px 0;
}
#zonalStatsPanel #drawCustom,
#zonalStatsPanel #selectParcels,
#zonalStatsPanel #selectParcelsDraw {
  outline: none;
  width: 100%;
  font-weight: 500;
  color: #6F758E;
  font-size: 9pt;
  letter-spacing: 0.5px;
  border-radius: 0;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: #ECEEF3;
  padding: 12px;
  border: 1px solid #DDDDDD;
  display: block;
}
#zonalStatsPanel #drawCustom:hover,
#zonalStatsPanel #selectParcels:hover,
#zonalStatsPanel #selectParcelsDraw:hover {
  background-color: #FFFFFF;
}
#zonalStatsPanel #drawCustom:active,
#zonalStatsPanel #selectParcels:active,
#zonalStatsPanel #selectParcelsDraw:active {
  outline: none;
}
#zonalStatsPanel #calculateStats,
#zonalStatsPanel #displayStats {
  background-color: #00A896;
  border: none;
  font-weight: lighter;
  letter-spacing: 0.5px;
  width: 100%;
  border-radius: 0;
  display: block;
  margin: 5px 0 15px 0;
  font-size: 9pt;
  box-sizing: border-box;
  padding: 12px;
}
#zonalStatsPanel #calculateStats:disabled,
#zonalStatsPanel #displayStats:disabled {
  background-color: rgba(236, 238, 243, 0.5);
  color: rgba(111, 117, 142, 0.8);
}
#zonalStatsPanel #calculateStats:disabled:hover,
#zonalStatsPanel #displayStats:disabled:hover {
  background-color: rgba(236, 238, 243, 0.5);
}
#zonalStatsPanel #calculateStats:hover,
#zonalStatsPanel #displayStats:hover {
  background-color: rgba(0, 168, 150, 0.6);
}
#zonalStatsPanel #calculateStats:focus,
#zonalStatsPanel #displayStats:focus {
  outline: none;
}
#zonalStatsPanel #clearSelection {
  background-color: #EA485C;
  border: none;
  font-weight: lighter;
  letter-spacing: 0.5px;
  width: 100%;
  border-radius: 0;
  display: block;
  margin: 0px 0 0px 0;
  font-size: 9pt;
  box-sizing: border-box;
  padding: 12px;
}
#zonalStatsPanel #clearSelection:hover {
  background-color: rgba(234, 72, 92, 0.6);
}
#zonalStatsPanel #clearSelection:focus {
  outline: none;
}
#addBookmarkButton,
#removeBookmarksButton {
  border-radius: 0;
  background-color: #ECEEF3;
  color: #6F758E;
  border: none;
}
#addBookmarkButton:nth-child(2),
#removeBookmarksButton:nth-child(2) {
  border-left: 1px solid rgba(30, 39, 50, 0.2);
}
#addBookmarkButton:hover,
#removeBookmarksButton:hover {
  cursor: pointer;
  background-color: rgba(236, 238, 243, 0.5);
}
.identification {
  font-weight: 300;
  letter-spacing: 1.5px;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  text-align: center;
  opacity: 0.5;
}
.identification a {
  font-weight: 700;
  color: #4574CC;
}
.identification:hover {
  opacity: 1;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #4574CC;
  cursor: pointer;
  margin-top: -7px;
}
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #4574CC;
  cursor: pointer;
  margin-top: -7px;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #4574CC;
  cursor: pointer;
  margin-top: -7px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #FFFFFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #FFFFFF;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
#mapDiv_zoom_slider {
  background-color: #eceef3;
  border-radius: 0px;
  border-color: transparent;
  margin: 0;
  left: 13px;
  top: 60px;
  box-shadow: 0 3px 6px rgba(30, 39, 50, 0.1), 0 3px 6px rgba(30, 39, 50, 0.1);
}
#mapDiv_zoom_slider span {
  color: #6F758E;
}
#mapDiv_zoom_slider .esriSimpleSliderVertical,
#mapDiv_zoom_slider .esriSimpleSliderIncrementButton,
#mapDiv_zoom_slider .esriSimpleSliderDecrementButton {
  border-color: transparent;
  border-bottom: 0px solid black !important;
  border-radius: 0;
}
#mapDiv_zoom_slider .esriSimpleSliderVertical:hover,
#mapDiv_zoom_slider .esriSimpleSliderIncrementButton:hover,
#mapDiv_zoom_slider .esriSimpleSliderDecrementButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.LocateButton {
  background-color: #6f758e;
  border-radius: 0px;
  border-color: transparent;
  margin: 0;
  margin: 25px 0 0 8px;
  box-shadow: 0 3px 6px rgba(30, 39, 50, 0.2), 0 3px 6px rgba(30, 39, 50, 0.2);
}
.LocateButton .zoomLocateButton {
  background-color: transparent;
  color: #1E2732;
}
#homeButton {
  background-color: #6f758e;
  border-radius: 0px;
  border-color: transparent;
  margin: 0;
  margin: 100px 0 0 8px;
  box-shadow: 0 3px 6px rgba(30, 39, 50, 0.2), 0 3px 6px rgba(30, 39, 50, 0.2);
}
#homeButton .home {
  background-color: transparent;
  color: black;
}
#homeButton .home span {
  color: black;
}
#homeButton:hover {
  background-color: #666;
}
#measurementElement {
  background-color: #6F758E;
  border-radius: 0px;
  border-color: transparent;
  margin: 0;
  margin: 58px 0 0 15px;
  box-shadow: 0 3px 6px rgba(30, 39, 50, 0.2), 0 3px 6px rgba(30, 39, 50, 0.2);
}
#measurementElement #measurementHeading {
  background-color: transparent;
  color: #FFFFFF;
}
#measurementElement #measurementHeading .panel-title {
  color: #FFFFFF;
  font-weight: lighter;
  letter-spacing: 0.5px;
}
#measurementElement #measurementHeading:hover {
  cursor: pointer;
  background-color: #666;
}
#measurementElement #measurementCollapse {
  box-sizing: border-box;
  padding: 5px;
  color: #FFFFFF;
}
#measurementElement #measurementCollapse .dijitInline.esriButton {
  background-color: #FFFFFF;
}
#measurementElement #measurementCollapse .dijitInline.esriButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
#measurementElement #measurementCollapse .dijitInline.esriButtonChecked {
  background-color: rgba(255, 255, 255, 0.5);
}
#measurementElement #measurementCollapse .dijitInline .dijitButtonNode {
  background: none;
}
#measurementElement #measurementCollapse .esriMeasurementSeparator {
  display: none;
}
#measurementElement #measurementCollapse .dijitButtonText {
  color: #FFFFFF;
}
#measurementElement #measurementCollapse .esriMeasurementResultLabel {
  border-bottom: 1px solid #FFFFFF;
  font-weight: 500;
  box-sizing: border-box;
  padding: 10px 0 5px 0;
  letter-spacing: 0.75px;
}
#latLngScale {
  background-color: #ECEEF3;
  border-radius: 0;
  border: none;
  box-shadow: 0 3px 6px rgba(30, 39, 50, 0.2), 0 3px 6px rgba(30, 39, 50, 0.2);
  color: #6F758E;
  font-size: 9pt;
  letter-spacing: 1px;
  left: 15px;
  bottom: 15px;
}
.esriAttribution {
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  padding: 1px 4px;
  font-size: 7pt;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: relative;
  top: -5px;
}
#legendElement {
  border-radius: 0;
  border: none;
  box-shadow: 0 3px 6px rgba(30, 39, 50, 0.2), 0 3px 6px rgba(30, 39, 50, 0.2);
  margin-top: 5px;
  right: 10px;
  top: 56px;
}
@media (max-width: 990px) {
  #legendElement {
    top: 55px;
  }
}
#legendElement #legendHeading {
  background-color: #FFFFFF;
  color: #6F758E;
  text-transform: uppercase;
  padding: 0;
}
#legendElement #legendHeading h4 {
  font-size: 10pt;
  padding: 0;
}
#legendElement #legendHeading h4 a {
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#legendElement #legendHeading h4 a:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}
#legendElement #legendDiv {
  background-color: rgba(255, 255, 255, 0.2);
}
.modal-content {
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.modal-content .modal-title {
  font-weight: 300;
}
.modal-content #aboutModalBody {
  padding: 0 0px;
}
.modal-content #aboutModalBody ul {
  background-color: #ECEEF3;
  border: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.modal-content #aboutModalBody ul li {
  border-radius: 0;
}
.modal-content #aboutModalBody ul li.active {
  border: none;
}
.modal-content #aboutModalBody ul li.active a {
  border: none;
  margin: 0 auto;
  border-radius: 0;
  padding: 10px 15px 9px 15px;
  background-color: #6F758E;
  color: #FFFFFF;
}
.modal-content #aboutModalBody ul li.active a:hover {
  border: none;
  background-color: #6F758E;
}
.modal-content #aboutModalBody ul li a {
  border-radius: 0;
  color: #6F758E;
  border: none;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.modal-content #aboutModalBody ul li a:hover {
  border: none;
  background-color: rgba(111, 117, 142, 0.15);
}
.modal-content #aboutModalBody .tab-content {
  box-sizing: border-box;
  padding: 25px;
  color: #6F758E;
}
.modal-content #aboutModalBody .tab-content h3 {
  margin: 0 auto;
}
.modal-content #aboutModalBody .tab-content p {
  box-sizing: border-box;
  padding: 10px 0;
}
.modal-content .modal-footer {
  font-size: 10pt;
}
.modal-content .modal-footer p {
  font-weight: 500;
  text-align: center !important;
  display: block;
  margin: 0 auto;
  margin-left: 0 !important;
  color: #6F758E;
}
.modal-content .modal-footer p a img {
  box-sizing: border-box;
  padding: 5px;
  margin: 0 5px;
}
.modal-content .close {
  box-sizing: border-box;
  padding: 8px;
}
* {
  outline: none;
}
*:hover {
  outline: none;
}
*:focus {
  outline: none;
}
*:active {
  outline: none;
}
.focus {
  outline: none !important;
}
body,
html {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
