html, body {
    height: 100%;
    overflow:hidden;
}

body {
    padding-top: 50px;
    background-image: url("../images/wimlogoCompact.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#474747;
}

#aboutNav {
    /*background-color: #474747;*/

    background: 0 0;
    border: none;
    line-height: 16px;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 2px;
    transition: .2s;
    color: rgba(255,255,255,.35);
}


#aboutNav{
    letter-spacing: 2px;
    position: relative; top: 2px;
    transition: 0.2s;
    color: rgba(255,255,255,0.35);
}
#aboutNav:hover{
    cursor: pointer;
    color: rgba(255,255,255,1);
    transition: 0.2s;
}
#aboutNav:focus{
    outline: none;
}

.keepit100 {
    height: 100%;
}

@media (max-width: 767px) {
    #geosearchButtonText {
        display: none;
    }

    #legendButtonNavBar {
        display: none;
    }

    /*.basemapThumb {*/
    /*display: none;*/
    /*}*/
}

.overflow-y-hidden {
    overflow-y: hidden;
}

@media (min-width: 768px) {
    #legendButtonSidebar {
        display: none;
    }
}

.basemapThumb {
    border:1px solid #ffffff;
    border-radius: 5px;
}

/*basemapBtn elements manually set to width of widest - temp solution until dynamic solution is implemented */
.basemapBtn {
    width: 86px;
    margin-bottom: 2px;
    padding:2px;
}


.esriSimpleSliderTL {
    top: 5px;
    left: 5px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
}

#homeButton {
    position: absolute;
    top: 75px;
    left: 5px;
    z-index: 50;
}

#locateButton {
    position: absolute;
    top: 115px;
    left: 5px;
    z-index: 50;
}

.hover-content {
    display:none;
}

.identification {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 0 8px;
    opacity: .75;
    text-align: center;
    color: #6E7490;
}

.latLngScale {
    position:absolute;
    padding:4px;
    bottom:1.6em;
    left: 20px;
    /*width:250px*/
    /*height:320px;*/
    z-index:1;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.latLngScale:hover .hover-content {
    display:inline-block;
}

.lyrTogDiv {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.alert {
    margin-top: 0px;
    margin-bottom: 0px;
}

#legendDiv {
    overflow-y: auto;
    /*max-height: inherit;*/
}

#legendCollapse {
    /*max-height: inherit;*/
}

/*#legendElement {*/
/*position:absolute;*/
/*padding:4px;*/
/*top:1em;*/
/*right:10px;*/
/*z-index:1;*/
/*color: black;*/
/*background-color: rgb(255,255,255);*/
/*background-color: rgba(255,255,255,0.8);*/
/*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
/*min-width: 200px;*/
/*border-radius: 4px;*/
/*overflow: auto;*/

/*}*/

.alert-info {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.legendClass {
    position:absolute;
    top:5px;
    right:5px;
    z-index:3;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    /*min-width: 150px;*/
    border-radius: 4px;
}

.legendHeading {
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    text-decoration: none !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

#legendButtonSidebar {
    width: 100%;
}

.lgi-zoom {
    color: white;
    background-color: black;
    border: none !important;
    padding: 5px 5px !important;
}

a.lgi-zoom {
    color: white;
}

a.lgi-zoom:hover {
    color: black;
}

.lyrTog {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.map {
    overflow: auto;
}

#mapDiv {
    min-height: 100%;
    max-height: 100%;
}

.opacity {
    padding-left: 10px;
}

.opacitySlider {
    position: absolute;
    color: white;
    width: 200px;
    padding: 10px;
    /*padding-bottom: 40px;*/
    opacity: 0.8;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.modal-dialog {
    padding-top: 60px;
}

.navbar-brand {
    padding:7px 4px;
}

.navbar-dark {
    border-width:0;
    background-color:#474747;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}

.no-col-padding {
    padding: 0;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.row-map {
    background: #eee;
}


[class*="col-"] {
    background-color: #eee;
    border: 1px solid #E7E7E7;
    text-align: center;
}

#wim_logo {
    background: #000 0 0;
    border-radius: 5px;
    width: 45px;
}

#wim_logo:hover{
    background: blue none repeat scroll 0 0;
    cursor: pointer;
}

.wim-sidebar-panel {
    margin-bottom: 2px;
}

#sidebar {
    top: 50px;
    padding-bottom: 50px;
}
input[type="checkbox"], input[type="radio"] {
    float: left;
}

.zoomDialog {
    position: absolute;
    color: white;
    /*width: 200px;*/
    padding: 5px;
    /*padding-bottom: 40px;*/
    opacity: 0.9;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.zoomClose {
    color: white;
}